<div class="flex-container">
    <div class="logo">
        <h1>Octo-Task Cruncher</h1>
        <div id="banner"></div>
    </div>
</div> 
<br> 
{{#if tasks.length}}
<section>
    <div class="wrapper">
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        </div>
    <div class="row align-items-center" id="dashboard-header">
        <h2>Hello, <span>{{username}}!</span></h2>
        <p>Click on a task below to view or edit a task</p>
    </div>
    <br>
    {{#each tasks as |task|}}
    <input type="hidden" name="task-id" value="{{task.id}}"/>
    <div class="flex-container">
        <div class="card">
            <h2 class="card-title">{{username}}'s Task List</h2>
            <div class="card-header">
            <h4><a class="link" href="/dashboard/edit/{{id}}">{{title}}</a></h4>
            </div>
            <div class="btn-container">                      
            <button class="dashboard-button" id="del-btn"><i class="bi bi-trash"></i> <a>Crunch Task!</a></button>  
        </div>
    </div>   
    {{/each}}   
</section>
{{/if}}
<button class="dashboard-button" id="add-btn" type="submit" class="btn"><a href="/dashboard/new" id="a-add-btn"><i class="bi bi-plus-square"></i> Add Task</a></button>

<script src="js/deletetask.js"></script>

