<div class="card">
    <h2 class="card-header">View or Edit Your Task</h2>
<!-- Form for task name-->
<form class="card-body edit-form">
    <div class="form-group">
        <label class="form-label">Task Name</label>
        <input type="text" class="form-input" name="task-title" value="{{task.title}}"/>
        <p>Created by {{task.username}} on {{format_date task.date_created}}</p>
    </div>
    </div>

<!-- Form for task notes-->
    <div class="form-group">
        <label for="task-description">Additional Notes</label>
        <input type="text" class="form-input" id="task-description" name="task-description" value="{{task.description}}">
    </div>

<!-- Select input for task progress status-->
    <div class="form-group">
    <label for="task-status">Task Progress Status</label>
    <select>
        <option name="task-status" value="{{task.status}}">Not started</option>
        <option name="task-status" value="{{task.status}}">In progress</option>
        <option name="task-status" value="{{task.status}}">Complete</option>
    </select>
    <input type="submit" class="form-input" id="task-status">
    </div>

<!-- Buttons to add/edit a task-->
    <div class="form-group">
    <div class="btn-container">                      
        <button class="homepage-button" id="del-task-btn"><i class="bi bi-trash"></i>Crunch Task!</button>  
        <button type="submit" class="btn btn-primary" id="edit-form"><i class="bi bi-pencil"></i>Edit Task</button>
    </div>
    </div>
</form>
</div>
<script src="/js/edit.js"></script>
<script src="/deletetask.js"></script>