<section>
    <div class="row align-items-center" id="homepage-header">
        <h2><span>Welcome!</span></h2>
        <p>Add a new task or edit your tasks below</p> 
    </div>
<!-- If the user has a task list, their tasks will be displayed here-->
{{#if tasks.length}}
{{#each tasks as |task|}}
<div class="task-container">
        <input type="hidden" name="task-id" value="{{task.id}}"/>
    <div class="card">
        <h2 class="card-title">My Task List:</h2>
        <div class="card-header">
            <a class="link" href="/edittask/{{task.id}}">{{task.title}}</a>
        </div>
    </div>   
</div>
</section>
{{/each}}   
{{/if}}
<div class="task-flex-container">
<div class="newtask-container">
    <div class="card">
    <h2 class="card-header">Add New Task</h2>
<!-- Form to create a new task -->
<form class="form" id="newtask-form" method="POST">
    <!-- Task name input -->
    <div class="taskform-group">
        <label for="task-title" class="taskform-label">Task Name</label>
        <textarea class="taskform-input" id="task-title" name="task-title"></textarea>
    </div>
<!-- Task description/notes input -->
    <div class="taskform-group">
        <label for="task-description" class="taskform-label">Additional notes: </label>
        <textarea id="task-description" class="taskform-input" name="task-description"></textarea>
    </div>
<!-- Task progress status select input -->
<div class="taskform-group">
    <label for="task-status" class="taskform-label">Task Progress Status</label>
    <select id="task-status">
        <option name="task-status" value="{{task.status}}" id="task-status">Not started</option>
        <option name="task-status" value="{{task.status}}" id="task-status">In progress</option>
        <option name="task-status" value="{{task.status}}" id="task-status">Complete</option>
    </select>
</div>
<div class="taskform-group">
    <button class="btn btn" type="submit" id="newtask" form="newtask-form">Submit</button>
</div>
</form>
</div>
</div>
<!-- Bubbles! -->
<div class="wrapper">
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
</div>
<!-- JS script with newtask form handler logic-->
<script src="/js/newtask.js"></script>

